<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=mobile-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="main-header">
            <div class="main-header__superior">
                <div class="main-header__superior--top">
                    <a clas="main-header__superior--top-logo-link" href="home.html"><img
                            src="/images/logo-mercado-liebre.svg" class="main-header__superior--top-logo"></a>
                    <div class="main-header__superior--top-search-box">
                        <input type="text" placeholder="Buscar productos, marcas..."
                            class="main-header__superior--top-search-box-bar">
                        <i
                            class="main-header__superior--top-search-box-magnifying-glass fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <p class="main-header__superior--cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas
                    y sin
                    tarjeta de
                    crédito</p>
            </div>
            <nav class="navbar">
                <div class="navbar__left-side">
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
                </div>
                <div class="navbar__right-side">
                    <a href="register.html">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a>
                    <a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                    <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </div>
            </nav>
            <div class="main-header__burger-menu-div">
                <i class="main-header__burger-menu fas fa-bars"></i>
            </div>
        </div>
    </header>

    <body>
        <main>
            <form method="get" action="">
                <input class="name" type="text" name="nombre" placeholder="Nombre y apellido" required>
                <span class="invisible name-error"><i class="fa-solid fa-circle-exclamation"></i> Este campo es
                    obligatorio</span>
                <span class="invisible name-valid"><i class="fa-solid fa-circle-check"></i></span>

                <input class="user" type="text" name="user" id="user" placeholder="Nombre de usuari@" minlength="5"
                    maxlength="10" required>
                <span class="invisible user-error"><i class="fa-solid fa-circle-exclamation"></i> Este campo es
                    obligatorio</span>
                <span class="invisible user-valid"><i class="fa-solid fa-circle-check"></i></span>

                <input class="email" type="email" name="email" id="email" placeholder="Email" required>
                <span class="invisible email-error"><i class="fa-solid fa-circle-exclamation"></i> Este campo es
                    obligatorio</span>
                <span class="invisible email-valid"><i class="fa-solid fa-circle-check"></i></span>

                <label class="negrita" for="birthdate">Fecha de nacimiento</label>
                <input class="birthdate" type="date" name="birthdate" id="birthdate" required>
                <span class="invisible birthdate-error"><i class="fa-solid fa-circle-exclamation"></i> Este campo es
                    obligatorio</span>
                <span class="invisible birthdate-valid"><i class="fa-solid fa-circle-check"></i></span>

                <input class="address" type="text" name="address" id="address" placeholder="Domicilio" required>
                <span class="invisible address-error"><i class="fa-solid fa-circle-exclamation"></i> Este campo es
                    obligatorio</span>
                <span class="invisible address-valid"><i class="fa-solid fa-circle-check"></i></span>

                <label class="negrita">Perfil de usuario</label>
                <div class="radio-block">
                    <div class="radio-block__item">
                        <input type="radio" name="user-profile" value="comprador" id="comprador">
                        <label for="comprador">Comprador</label>
                    </div>
                    <div class="radio-block__item">
                        <input type="radio" name="user-profile" value="vendedor" id="vendedor">
                        <label for="vendedor">Vendedor</label>
                    </div>
                </div>

                <label class="negrita">Intereses</label>
                <div class="checkbox-block">
                    <div class="checkbox-block__item">
                        <input type="checkbox" name="interests" value="electro" id="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="checkbox-block__item">
                        <input type="checkbox" name="interests" value="moda" id="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="checkbox-block__item">
                        <input type="checkbox" name="interests" value="hogar" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="checkbox-block__item">
                        <input type="checkbox" name="interests" value="jugueteria" id="jugueteria">
                        <label for="jugueteria">Jugueteria</label>
                    </div>
                    <div class="checkbox-block__item">
                        <input type="checkbox" name="interests" value="vida-sana" id="vida-sana">
                        <label for="vida-sana">Vida sana</label>
                    </div>
                </div>

                <label class="negrita" for="user-photo">Subi una foto de perfil</label>
                <input class="user-photo" type="file" accept="image/*" name="user-photo" id="user-photo"
                    style="border: none;">

                <input class="password" type="password" name="password" id="password" placeholder="Contraseña"
                    minlength="8" required>
                <span class="invisible password-error"><i class="fa-solid fa-circle-exclamation"></i> Este campo es
                    obligatorio</span>
                <span class="invisible password-valid"><i class="fa-solid fa-circle-check"></i></span>

                <input class="confirm-password" type="password" name="confirm-password" id="confirm-password"
                    placeholder="Confirmar contraseña" minlength="8" required>
                <span class="invisible confirm-password-error"><i class="fa-solid fa-circle-exclamation"></i> Este campo
                    es obligatorio</span>
                <span class="invisible confirm-password-valid"><i class="fa-solid fa-circle-check"></i></span>

                <button type="reset">Borrar datos</button>
                <button type="submit" onclick="goHome()">Registrar</button>
            </form>
        </main>
        <footer>
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </section>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
        <script>
            function goHome() {
                window.location.href = "home.html";
            }
        </script>
    </body>

</html>