* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #ebebeb;
    margin: 0;
}

main {
    display: block;
    width: 90vw;
    margin: 0 auto;
}

.mainHeader {
    background-color: #EAC926;
    color: #666;
    padding: 15px;
}

.mainHeader__superior {
    margin-bottom: 15px;
}

.mainHeader__superior-logo {
    display: inline;
    width: 50%;
}

.mainHeader__superior-search-bar {
    display: inline;
    margin: 3% 0;
    width: 50%;
}

.mainHeader__superior-magnifying-glass-box {
    display: inline;
    padding: 1.5px;
    justify-content: center;
    align-items: center;
    border: solid 1px #666;
    background-color: #ebebeb;
}

.mainHeader__superior-subtitle {
    text-align: center;
    margin: 15px 0;
}

.navbar {
    display: none;
}

.burger-menu__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu__icon {
    border: 0.6rem solid #1259c3;
    border-radius: 20%;
    background-color: #1259c3;
    color: white;
}

.burger-menu__icon-link {
    text-decoration: none;
}

@media (min-width: 361px) {
    .mainHeader__superior {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }

    .mainHeader__superior-logo {
        width: 34%;
        height: 100%;
    }

    .mainHeader__superior-search-bar {
        width: 30%;
        height: 33%;
    }

    .mainHeader__superior-magnifying-glass-box {
        display: flex;
        width: 3%;
        height: 33%;
    }

    .mainHeader__superior-subtitle {
        width: 33%;
    }

    .navbar {
        margin: 4vw 0 0;
        display: flex;
        justify-content: space-between;
    }

    .navbar div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 35%;
        text-align: center;
    }

    .navbar div a {
        text-decoration: none;
        color: #666;
    }

    .burger-menu__box {
        display: none;
    }
}